# HTTPS и прокси на контейнеры (после DNS A/AAAA на этот сервер).
adminpanel.botcalendary.ru {
	encode zstd gzip

	reverse_proxy hytale-adminpanel:3001
}

hytale.botcalendary.ru {
	encode zstd gzip

	reverse_proxy hytale-landing:80
}

